{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaires</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Titrecommentaire</th>
                <td>{{ commentaire.titreCommentaire }}</td>
            </tr>
            <tr>
                <th>Datecommentaire</th>
                <td>{% if commentaire.dateCommentaire %}{{ commentaire.dateCommentaire|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Notemoyennecommentaire</th>
                <td>{{ commentaire.noteMoyenneCommentaire }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentaires_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commentaires_edit', { 'id': commentaire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
