{% extends '::base.html.twig' %}

{% block title %}TalkSeries{% endblock %}
{% block body %}

<!-- *** Main *** -->
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="btnAddSerie">
            <a href="{{ path('series_new') }}" class="btn btn-default">Ajouter une série</a>
        </div>
    {% endif %}

    <h1 class="H1series">Séries</h1>

    <table>
        <thead>
            <tr>
                <th>Nom de la série</th>
                <th>Affiche</th>
                <th>Note moyenne</th>
                <th>Genre</th>
                <th>Actions</th>
                <th>Saisons</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.nomSerie }}</td>
                <td><img src="{{ series.posterSerie }}" alt=""/></td>
                <td>{{ series.noteMoyenneSerie }}</td>
                <td>{{ series.genreSerie }}</td>
                <td>
                    <a href="{{ path('series_show', { 'nomSerie': series.nomSerie }) }}" class="btn btn-default btn-xs">Détails</a>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('series_edit', { 'nomSerie': series.nomSerie }) }}" class="btn btn-default btn-xs">Editer</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('saisons_index') }}" class="btn btn-default btn-xs">Liste des saisons</a>
                </td>
                {% if series.validation == 0 %}
                    <td>
                        <a href="{{ path('series_show', { 'nomSerie': series.nomSerie }) }}" class="btn btn-default btn-xs">A valider</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
