{% extends '::base.html.twig' %}

{% block title %}TalkSeries{% endblock %}
{% block body %}

{{ render(controller('MovieBundle:Default:header')) }}

<!-- *** Main *** -->
    <div class="btnAddSerie">
        <a href="{{ path('series_new') }}" class="btn btn-default">Ajouter une série</a>
    </div>

    <h1 class="H1series">Séries</h1>

    <table>
        <thead>
            <tr>
                <th>Nom de la série</th>
                <th>Affiche</th>
                <th>Note moyenne</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.nomSerie }}</td>
                <td><img src="{{ series.posterSerie }}" alt=""</td>
                <td>{{ series.noteMoyenneSerie }}</td>
                <td>{{ series.genreSerie }}</td>
                <td>
                    <a href="{{ path('series_show', { 'id': series.id }) }}" class="btn btn-default btn-xs">Détails</a>
                    <a href="{{ path('series_edit', { 'id': series.id }) }}" class="btn btn-default btn-xs">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{{ render(controller('MovieBundle:Default:footer')) }}

{% endblock %}
