{% extends 'base.html.twig' %}

{% block title %}TalkSeries{% endblock %}
{% block body %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="btnNewSerie">
        <a href="{{ path('series_index') }}" class="btn btn-default">Retour à la liste des séries</a>
    </div>

    <div class="H1SerieNew">
        <h1>Nouvelle série</h1>
    </div>
    <div class="form">
        {{ form_start(form) }}
            <div class="form-inline">
                {{ form_label(form.nomSerie) }}
                {{ form_widget(form.nomSerie, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="form-inline">
                {{ form_label(form.posterSerie) }}
                {{ form_widget(form.posterSerie, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="form-inline">
                {{ form_label(form.resumeSerie) }}
                {{ form_widget(form.resumeSerie, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="form-inline">
                {{ form_label(form.dateCreationSerie) }}
                {{ form_widget(form.dateCreationSerie, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="form-inline">
                {{ form_label(form.castingSerie) }}
                {{ form_widget(form.castingSerie, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="form-inline">
                {{ form_label(form.genreSerie) }}
                {{ form_widget(form.genreSerie, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="form-inline">
                {{ form_label(form.diffusionSerie) }}
                {{ form_widget(form.diffusionSerie, {'attr': {'class': 'form-control' }}) }}
            </div>
            {{ form_widget(form) }}
            <input class="btn btn-default" type="submit" value="Create" />
        {{ form_end(form) }}
    </div>
{% else %}
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-info btn-lg" style="display: block; width: 100%;">Vous devez vous identifier</a>
        </div>
    </div>
{% endif %}

{% endblock %}
