{% extends 'base.html.twig' %}

{% block title %}TalkSeries{% endblock %}
{% block body %}

{{ render(controller('MovieBundle:Default:header')) }}

<div class="H1serie">
    <h1>{{ series.nomSerie }}</h1>
</div>

<div class="btnSerie">
    <a href="{{ path('series_index') }}" class="btn btn-default">Liste des séries</a>
    <a href="{{ path('series_edit', { 'id': series.id }) }}" class="btn btn-default">Editer</a>
</div>
{{ form_start(delete_form) }}
{{ form_end(delete_form) }}

<table>
    <tbody>
        <tr>
            <th>Nom de la série</th>
            <td>{{ series.nomSerie }}</td>
        </tr>
        <tr>
            <th>Affiche</th>
            <td><img src="{{ series.posterSerie }}"</td>
        </tr>
        <tr>
            <th>Résumé</th>
            <td>{{ series.resumeSerie }}</td>
        </tr>
        <tr>
            <th>Date de création</th>
            <td>{% if series.dateCreationSerie %}{{ series.dateCreationSerie|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Note moyenne</th>
            <td>{{ series.noteMoyenneSerie }}</td>
        </tr>
        <tr>
            <th>Nb d'abonnés</th>
            <td>{{ series.nbAbonneSerie }}</td>
        </tr>
        <tr>
            <th>Casting</th>
            <td>{{ series.castingSerie }}</td>
        </tr>
        <tr>
            <th>Genre</th>
            <td>{{ series.genreSerie }}</td>
        </tr>
        <tr>
            <th>Date de diffusion</th>
            <td>{% if series.diffusionSerie %}{{ series.diffusionSerie|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
    </tbody>
</table>

{{ render(controller('MovieBundle:Default:footer')) }}

{% endblock %}
