{% extends 'base.html.twig' %}

{% block body %}

{{ render(controller('MovieBundle:Default:header')) }}

<h1>Series</h1>

<table>
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ series.id }}</td>
        </tr>
        <tr>
            <th>Nomserie</th>
            <td>{{ series.nomSerie }}</td>
        </tr>
        <tr>
            <th>Posterserie</th>
            <td>{{ series.posterSerie }}</td>
        </tr>
        <tr>
            <th>Resumeserie</th>
            <td>{{ series.resumeSerie }}</td>
        </tr>
        <tr>
            <th>Datecreationserie</th>
            <td>{% if series.dateCreationSerie %}{{ series.dateCreationSerie|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Notemoyenneserie</th>
            <td>{{ series.noteMoyenneSerie }}</td>
        </tr>
        <tr>
            <th>Nbabonneserie</th>
            <td>{{ series.nbAbonneSerie }}</td>
        </tr>
        <tr>
            <th>Castingserie</th>
            <td>{{ series.castingSerie }}</td>
        </tr>
        <tr>
            <th>Genreserie</th>
            <td>{{ series.genreSerie }}</td>
        </tr>
        <tr>
            <th>Diffusionserie</th>
            <td>{% if series.diffusionSerie %}{{ series.diffusionSerie|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('series_index') }}">Back to the list</a>
    </li>
    <li>
        <a href="{{ path('series_edit', { 'id': series.id }) }}">Edit</a>
    </li>
    <li>
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </li>
</ul>

{{ render(controller('MovieBundle:Default:footer')) }}

{% endblock %}
