{% extends 'base.html.twig' %}

{% block body %}
    <h1>Realisateurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomrealisateur</th>
                <th>Prenomrealisateur</th>
                <th>Datenaissancerealisateur</th>
                <th>Biorealisateur</th>
                <th>Serierealisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realisateur in realisateurs %}
            <tr>
                <td><a href="{{ path('realisateurs_show', { 'id': realisateur.id }) }}">{{ realisateur.id }}</a></td>
                <td>{{ realisateur.nomRealisateur }}</td>
                <td>{{ realisateur.prenomRealisateur }}</td>
                <td>{% if realisateur.dateNaissanceRealisateur %}{{ realisateur.dateNaissanceRealisateur|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ realisateur.bioRealisateur }}</td>
                <td>{{ realisateur.serieRealisateur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('realisateurs_show', { 'id': realisateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('realisateurs_edit', { 'id': realisateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('realisateurs_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
