{% extends 'base.html.twig' %}

{% block body %}
    <h1>Acteurs</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acteur.id }}</td>
            </tr>
            <tr>
                <th>Nomacteur</th>
                <td>{{ acteur.nomActeur }}</td>
            </tr>
            <tr>
                <th>Prenomacteur</th>
                <td>{{ acteur.prenomActeur }}</td>
            </tr>
            <tr>
                <th>Datenaissanceacteur</th>
                <td>{% if acteur.dateNaissanceActeur %}{{ acteur.dateNaissanceActeur|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Bioacteur</th>
                <td>{{ acteur.bioActeur }}</td>
            </tr>
            <tr>
                <th>Serieacteur</th>
                <td>{{ acteur.serieActeur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acteurs_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('acteurs_edit', { 'id': acteur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
