{% extends 'base.html.twig' %}

{% block body %}
    <h1>Scenaristes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomscenariste</th>
                <th>Prenomscenariste</th>
                <th>Datenaissancescenariste</th>
                <th>Bioscenariste</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scenariste in scenaristes %}
            <tr>
                <td><a href="{{ path('scenaristes_show', { 'id': scenariste.id }) }}">{{ scenariste.id }}</a></td>
                <td>{{ scenariste.nomScenariste }}</td>
                <td>{{ scenariste.prenomScenariste }}</td>
                <td>{% if scenariste.dateNaissanceScenariste %}{{ scenariste.dateNaissanceScenariste|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ scenariste.bioScenariste }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('scenaristes_show', { 'id': scenariste.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('scenaristes_edit', { 'id': scenariste.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('scenaristes_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
