{% extends 'base.html.twig' %}

{% block body %}
    <h1>Activites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dateactivite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>
                <td><a href="{{ path('activites_show', { 'id': activite.id }) }}">{{ activite.id }}</a></td>
                <td>{% if activite.dateActivite %}{{ activite.dateActivite|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('activites_show', { 'id': activite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('activites_edit', { 'id': activite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('activites_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
