{% extends 'base.html.twig' %}

{% block title %}TalkSeries{% endblock %}
{% block body %}
    <h1 class="H1SaisonEdit">Saisons edit</h1>

    <div class="form">
        {{ form_start(edit_form) }}
            <div class="form-inline">
                {{ form_label(edit_form.nomSaison) }}
                {{ form_widget(edit_form.nomSaison, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="form-inline">
                {{ form_label(edit_form.nbEpisodeSaison) }}
                {{ form_widget(edit_form.nbEpisodeSaison, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="form-inline">
                {{ form_label(edit_form.dureeSaison) }}
                {{ form_widget(edit_form.dureeSaison, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="form-inline">
                {{ form_label(edit_form.castingSaison) }}
                {{ form_widget(edit_form.castingSaison, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="form-inline">
                {{ form_label(edit_form.diffusionSaison) }}
                {{ form_widget(edit_form.diffusionSaison, {'attr': {'class': 'form-control' }}) }}
            </div>
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" />
        {{ form_end(edit_form) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('saisons_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
