{% extends 'base.html.twig' %}

{% block title %}TalkSeries{% endblock %}
{% block body %}

    <div class="btnNewSerie">
        <a href="{{ path('series_index') }}" class="btn btn-default">Retour à la liste des séries</a>
    </div>

    <h1 class="H1Saisons">Liste des saisons</h1>

    <table>
        <thead>
            <tr>
                <th>Nom de la saison</th>
                <th>Nb d'épisodes</th>
                <th>Note moyenne</th>
                <th>Casting</th>
                <th>Date de diffusion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
        {% for saison in saisons %}

            <tr>
                <td>{{ saison.nomSaison }}</td>
                <td>{{ saison.nbEpisodeSaison }}</td>
                <td>{{ saison.noteMoyenneSaison }}</td>
                <td>{{ saison.castingSaison }}</td>
                <td>{% if saison.diffusionSaison %}{{ saison.diffusionSaison|date('Y-m-d') }}{% endif %}</td>
                <td>
                      <a href="{{ path('saisons_show', { 'nomSaison': saison.nomSaison, 'nomSerie': serie.nomSerie }) }}" class="btn btn-default btn-xs">Détails</a>
                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                          <a href="{{ path('saisons_edit', { 'nomSaison': saison.nomSaison, 'nomSerie': serie.nomSerie }) }}" class="btn btn-default btn-xs">Edit</a>
                      {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% for serie in series %}
        <div class="btnAddSaison">
            <a href="{{ path('saisons_new', { 'nomSerie': serie.nomSerie }) }}" class="btn btn-default">Ajouter une saison</a>
        </div>
    {% endfor %}
{% endblock %}
