{% extends 'base.html.twig' %}

{% block body %}
    <h1>User list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
<<<<<<< HEAD
                <th>Pseudoutilisateur</th>
                <th>Prenomutilisateur</th>
                <th>Nomutilisateur</th>
                <th>Adresseemailutilisateur</th>
                <th>Datenaissanceutilisateur</th>
                <th>Photoprofilutilisateur</th>
                <th>Motdepasseutilisateur</th>
                <th>Sexeutilisateur</th>
                <th>Facebookutilisateur</th>
                <th>Twitterutilisateur</th>
=======
>>>>>>> 1edfc541a638e850ea93c04d4ea7ed40bf081b43
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
<<<<<<< HEAD
                <td>{{ user.pseudoUtilisateur }}</td>
                <td>{{ user.prenomUtilisateur }}</td>
                <td>{{ user.nomUtilisateur }}</td>
                <td>{{ user.adresseEmailUtilisateur }}</td>
                <td>{% if user.dateNaissanceUtilisateur %}{{ user.dateNaissanceUtilisateur|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.photoProfilUtilisateur }}</td>
                <td>{{ user.motDePasseUtilisateur }}</td>
                <td>{{ user.sexeUtilisateur }}</td>
                <td>{{ user.facebookUtilisateur }}</td>
                <td>{{ user.twitterUtilisateur }}</td>
=======
>>>>>>> 1edfc541a638e850ea93c04d4ea7ed40bf081b43
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
