{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Pseudoutilisateur</th>
                <td>{{ user.pseudoUtilisateur }}</td>
            </tr>
            <tr>
                <th>Prenomutilisateur</th>
                <td>{{ user.prenomUtilisateur }}</td>
            </tr>
            <tr>
                <th>Nomutilisateur</th>
                <td>{{ user.nomUtilisateur }}</td>
            </tr>
            <tr>
                <th>Adresseemailutilisateur</th>
                <td>{{ user.adresseEmailUtilisateur }}</td>
            </tr>
            <tr>
                <th>Datenaissanceutilisateur</th>
                <td>{% if user.dateNaissanceUtilisateur %}{{ user.dateNaissanceUtilisateur|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Photoprofilutilisateur</th>
                <td>{{ user.photoProfilUtilisateur }}</td>
            </tr>
            <tr>
                <th>Motdepasseutilisateur</th>
                <td>{{ user.motDePasseUtilisateur }}</td>
            </tr>
            <tr>
                <th>Sexeutilisateur</th>
                <td>{{ user.sexeUtilisateur }}</td>
            </tr>
            <tr>
                <th>Facebookutilisateur</th>
                <td>{{ user.facebookUtilisateur }}</td>
            </tr>
            <tr>
                <th>Twitterutilisateur</th>
                <td>{{ user.twitterUtilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
